# Gerado automaticamente por scripts/api/generate-openapi.ts
# A partir do inventário: docs/api/generated/api-inventory.generated.json
openapi: "3.0.3"
info:
  title: "Accounts API — Artifício RPG"
  description: "API do módulo Accounts. Metadados x-artificio-* definidos por heurística de path."
  version: "0.1.0"
servers:
  - url: https://accounts.artificiorpg.com
    description: Produção
  - url: http://localhost:4000
    description: Desenvolvimento
security: []
paths:
  /:
    get:
      operationId: get
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
  /admin/secrets/{name}:
    parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getadmin_secrets_name
      summary: Recupera um segredo descriptografado (admin ou service-token)
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: provisional
      x-artificio-auth: service
      description: "Decifra e retorna um segredo. Aceita X-Service-Token (serviço-a-serviço) ou cookie admin. Fonte: createAdminSecretsRoutes (DEB-055-12)."
      x-artificio-consumers:
        - mesas-backend
      responses:
        "200":
          description: Segredo retornado
        "404":
          description: Segredo não encontrado
    put:
      operationId: putadmin_secrets_name
      summary: Armazena um segredo criptografado (admin)
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: provisional
      x-artificio-auth: admin
      description: "Cifra e armazena um segredo (ex.: DeepSeek key). Requer sessão admin. Fonte: createAdminSecretsRoutes (DEB-055-12)."
      responses:
        "204":
          description: Segredo armazenado
        "400":
          description: Payload inválido
  /api/auth/google:
    get:
      operationId: getapi_auth_google
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
  /api/auth/google/callback:
    get:
      operationId: getapi_auth_google_callback
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
  /api/auth/logout:
    post:
      operationId: postapi_auth_logout
      x-artificio-owner: accounts
      x-artificio-scope: cross-app
      x-artificio-status: active
      x-artificio-auth: user
      x-artificio-consumers:
        - mesas-frontend
        - glossario-frontend
        - links-frontend
        - site-admin
      responses:
        "200":
          description: OK
  /api/auth/me:
    get:
      operationId: getapi_auth_me
      x-artificio-owner: accounts
      x-artificio-scope: cross-app
      x-artificio-status: active
      x-artificio-auth: user
      x-artificio-consumers:
        - mesas-frontend
        - glossario-frontend
        - links-frontend
        - site-admin
      responses:
        "200":
          description: OK
  /api/auth/refresh:
    get:
      operationId: getapi_auth_refresh
      x-artificio-owner: accounts
      x-artificio-scope: cross-app
      x-artificio-status: active
      x-artificio-auth: user
      x-artificio-consumers:
        - mesas-frontend
        - glossario-frontend
        - links-frontend
        - site-admin
      responses:
        "200":
          description: OK
  /conta:
    get:
      operationId: getconta
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
  /health:
    get:
      operationId: gethealth
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
  /login:
    get:
      operationId: getlogin
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
