# Gerado automaticamente por scripts/api/generate-openapi.ts
# A partir do inventário: docs/api/generated/api-inventory.generated.json
openapi: "3.0.3"
info:
  title: "Accounts API — Artifício RPG"
  description: "API do módulo Accounts. Metadados x-artificio-* definidos por heurística de path."
  version: "0.1.0"
servers:
  - url: https://accounts.artificiorpg.com
    description: Produção
  - url: http://localhost:4000
    description: Desenvolvimento
security: []
paths:
  /:
    get:
      operationId: get
      summary: "Consulta raiz"
      x-artificio-owner: accounts
      x-artificio-scope: public-page
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /admin/papeis:
    get:
      operationId: getadmin_papeis
      summary: "Consulta admin papeis"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /admin/roles/users:
    get:
      operationId: getadmin_roles_users
      summary: "Consulta admin roles users"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /admin/roles/users/{id}:
    patch:
      operationId: patchadmin_roles_users_id
      summary: "Atualiza admin roles users id"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /admin/secrets/{name}:
    parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getadmin_secrets_name
      summary: Recupera um segredo descriptografado (admin ou service-token)
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: provisional
      x-artificio-auth: service
      description: "Decifra e retorna um segredo. Aceita X-Service-Token (serviço-a-serviço) ou cookie admin. Fonte: createAdminSecretsRoutes (DEB-055-12)."
      x-artificio-consumers:
        - mesas-backend
      responses:
        "200":
          description: Segredo retornado
        "404":
          description: Segredo não encontrado
    put:
      operationId: putadmin_secrets_name
      summary: Armazena um segredo criptografado (admin)
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: provisional
      x-artificio-auth: admin
      description: "Cifra e armazena um segredo (ex.: DeepSeek key). Requer sessão admin. Fonte: createAdminSecretsRoutes (DEB-055-12)."
      responses:
        "204":
          description: Segredo armazenado
        "400":
          description: Payload inválido
  /api/account:
    delete:
      operationId: deleteapi_account
      summary: "Remove api account"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm]
              properties:
                confirm:
                  type: string
                  format: email
      responses:
        "204":
          description: Conta removida e sessao limpa
        "400":
          description: Confirmacao invalida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "403":
          description: Sem permissão
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/account/avatar:
    patch:
      operationId: patchapi_account_avatar
      summary: "Atualiza api account avatar"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Imagem PNG, JPEG ou WebP ate 2MB
      responses:
        "200":
          description: Avatar atualizado
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Avatar invalido
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "403":
          description: Sem permissão
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "503":
          description: Armazenamento de midia indisponivel
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/auth/google:
    get:
      operationId: getapi_auth_google
      summary: "Consulta api auth google"
      x-artificio-owner: accounts
      x-artificio-scope: external
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/auth/google/callback:
    get:
      operationId: getapi_auth_google_callback
      summary: "Consulta api auth google callback"
      x-artificio-owner: accounts
      x-artificio-scope: external
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/auth/logout:
    post:
      operationId: postapi_auth_logout
      summary: "Cria ou executa api auth logout"
      x-artificio-owner: accounts
      x-artificio-scope: cross-app
      x-artificio-status: active
      x-artificio-auth: user
      x-artificio-consumers:
        - mesas-frontend
        - glossario-frontend
        - links-frontend
        - site-admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/auth/me:
    get:
      operationId: getapi_auth_me
      summary: "Consulta api auth me"
      x-artificio-owner: accounts
      x-artificio-scope: cross-app
      x-artificio-status: active
      x-artificio-auth: user
      x-artificio-consumers:
        - mesas-frontend
        - glossario-frontend
        - links-frontend
        - site-admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/auth/refresh:
    get:
      operationId: getapi_auth_refresh
      summary: "Consulta api auth refresh"
      x-artificio-owner: accounts
      x-artificio-scope: cross-app
      x-artificio-status: active
      x-artificio-auth: user
      x-artificio-consumers:
        - mesas-frontend
        - glossario-frontend
        - links-frontend
        - site-admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/community/appeals/{id}:
    get:
      operationId: getapi_v1_community_appeals_id
      summary: "Consulta api v1 community appeals id"
      x-artificio-owner: accounts
      x-artificio-scope: self-service
      x-artificio-status: active
      x-artificio-auth: user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/community/reports:
    get:
      operationId: getapi_v1_community_reports
      summary: "Consulta api v1 community reports"
      x-artificio-owner: accounts
      x-artificio-scope: self-service
      x-artificio-status: active
      x-artificio-auth: user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/notification-event-types:
    get:
      operationId: getapi_v1_notification_event_types
      summary: "Consulta api v1 notification-event-types"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/notification-preferences:
    get:
      operationId: getapi_v1_notification_preferences
      summary: "Consulta api v1 notification-preferences"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/notification-preferences/{event_type}:
    put:
      operationId: putapi_v1_notification_preferences_event_type
      summary: "Substitui api v1 notification-preferences event type"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      parameters:
        - name: event_type
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/notifications:
    get:
      operationId: getapi_v1_notifications
      summary: "Consulta api v1 notifications"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/notifications/{id}/read:
    put:
      operationId: putapi_v1_notifications_id_read
      summary: "Substitui api v1 notifications id read"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/notifications/read-all:
    patch:
      operationId: patchapi_v1_notifications_read_all
      summary: "Atualiza api v1 notifications read-all"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/notifications/read-through:
    put:
      operationId: putapi_v1_notifications_read_through
      summary: "Substitui api v1 notifications read-through"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/notifications/unread-count:
    get:
      operationId: getapi_v1_notifications_unread_count
      summary: "Consulta api v1 notifications unread-count"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /conta:
    get:
      operationId: getconta
      summary: "Consulta conta"
      x-artificio-owner: accounts
      x-artificio-scope: public-page
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /conta/notificacoes:
    get:
      operationId: getconta_notificacoes
      summary: "Consulta conta notificacoes"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /health:
    get:
      operationId: gethealth
      summary: "Consulta health"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/users/{id}:
    get:
      operationId: getinternal_users_id
      summary: "Consulta internal users id"
      x-artificio-owner: accounts
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments:
    get:
      operationId: getinternal_v1_comments
      summary: "Consulta internal v1 comments"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    post:
      operationId: postinternal_v1_comments
      summary: "Cria ou executa internal v1 comments"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/{id}:
    delete:
      operationId: deleteinternal_v1_comments_id
      summary: "Remove internal v1 comments id"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    patch:
      operationId: patchinternal_v1_comments_id
      summary: "Atualiza internal v1 comments id"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/{id}/removal:
    post:
      operationId: postinternal_v1_comments_id_removal
      summary: "Cria ou executa internal v1 comments id removal"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/{id}/replies:
    post:
      operationId: postinternal_v1_comments_id_replies
      summary: "Cria ou executa internal v1 comments id replies"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/{id}/reports:
    post:
      operationId: postinternal_v1_comments_id_reports
      summary: "Cria ou executa internal v1 comments id reports"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/{id}/restore:
    post:
      operationId: postinternal_v1_comments_id_restore
      summary: "Cria ou executa internal v1 comments id restore"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/{id}/versions:
    get:
      operationId: getinternal_v1_comments_id_versions
      summary: "Consulta internal v1 comments id versions"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/{id}/vote:
    put:
      operationId: putinternal_v1_comments_id_vote
      summary: "Substitui internal v1 comments id vote"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/moderation-log:
    get:
      operationId: getinternal_v1_comments_moderation_log
      summary: "Consulta internal v1 comments moderation-log"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/comments/moderation-queue:
    get:
      operationId: getinternal_v1_comments_moderation_queue
      summary: "Consulta internal v1 comments moderation-queue"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/appeals/{id}:
    get:
      operationId: getinternal_v1_moderation_appeals_id
      summary: "Consulta internal v1 moderation appeals id"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/appeals/{id}/resolution:
    post:
      operationId: postinternal_v1_moderation_appeals_id_resolution
      summary: "Cria ou executa internal v1 moderation appeals id resolution"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/cases/{id}:
    get:
      operationId: getinternal_v1_moderation_cases_id
      summary: "Consulta internal v1 moderation cases id"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/cases/{id}/priority:
    patch:
      operationId: patchinternal_v1_moderation_cases_id_priority
      summary: "Atualiza internal v1 moderation cases id priority"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/cases/{id}/reopen:
    post:
      operationId: postinternal_v1_moderation_cases_id_reopen
      summary: "Cria ou executa internal v1 moderation cases id reopen"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/cases/{id}/resolution:
    post:
      operationId: postinternal_v1_moderation_cases_id_resolution
      summary: "Cria ou executa internal v1 moderation cases id resolution"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/decisions/{id}/appeals:
    post:
      operationId: postinternal_v1_moderation_decisions_id_appeals
      summary: "Cria ou executa internal v1 moderation decisions id appeals"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/sanctions:
    get:
      operationId: getinternal_v1_moderation_sanctions
      summary: "Consulta internal v1 moderation sanctions"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    post:
      operationId: postinternal_v1_moderation_sanctions
      summary: "Cria ou executa internal v1 moderation sanctions"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/moderation/sanctions/{id}:
    delete:
      operationId: deleteinternal_v1_moderation_sanctions_id
      summary: "Remove internal v1 moderation sanctions id"
      x-artificio-owner: accounts
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/notifications/events:
    post:
      operationId: postinternal_v1_notifications_events
      summary: "Cria ou executa internal v1 notifications events"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/report-reasons:
    get:
      operationId: getinternal_v1_report_reasons
      summary: "Consulta internal v1 report-reasons"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /internal/v1/reports/{id}:
    delete:
      operationId: deleteinternal_v1_reports_id
      summary: "Remove internal v1 reports id"
      x-artificio-owner: accounts
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: service
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /login:
    get:
      operationId: getlogin
      summary: "Consulta login"
      x-artificio-owner: accounts
      x-artificio-scope: public-page
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
