# Gerado automaticamente por scripts/api/generate-openapi.ts
# A partir do inventário: docs/api/generated/api-inventory.generated.json
openapi: "3.0.3"
info:
  title: "Links API — Artifício RPG"
  description: "API do módulo Links. Metadados x-artificio-* definidos por heurística de path."
  version: "0.1.0"
servers:
  - url: https://links.artificiorpg.com
    description: Produção
  - url: http://localhost:3001
    description: Desenvolvimento
security: []
paths:
  /api/admin/v1/groups:
    get:
      operationId: getapi_admin_v1_groups
      summary: "Consulta api admin v1 groups"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/groups/{id}:
    delete:
      operationId: deleteapi_admin_v1_groups_id
      summary: "Remove api admin v1 groups id"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    patch:
      operationId: patchapi_admin_v1_groups_id
      summary: "Atualiza api admin v1 groups id"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/groups/{id}/accept:
    post:
      operationId: postapi_admin_v1_groups_id_accept
      summary: "Cria ou executa api admin v1 groups id accept"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/groups/{id}/archive:
    post:
      operationId: postapi_admin_v1_groups_id_archive
      summary: "Cria ou executa api admin v1 groups id archive"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/groups/rehydrate-logos:
    post:
      operationId: postapi_admin_v1_groups_rehydrate_logos
      summary: "Cria ou executa api admin v1 groups rehydrate-logos"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/groups/rehydrate-logos/status:
    get:
      operationId: getapi_admin_v1_groups_rehydrate_logos_status
      summary: "Consulta api admin v1 groups rehydrate-logos status"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/rebuild:
    post:
      operationId: postapi_admin_v1_rebuild
      summary: "Cria ou executa api admin v1 rebuild"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/rebuild/status:
    get:
      operationId: getapi_admin_v1_rebuild_status
      summary: "Consulta api admin v1 rebuild status"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/reports:
    get:
      operationId: getapi_admin_v1_reports
      summary: "Consulta api admin v1 reports"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/reports/{id}:
    patch:
      operationId: patchapi_admin_v1_reports_id
      summary: "Atualiza api admin v1 reports id"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/tags:
    get:
      operationId: getapi_admin_v1_tags
      summary: "Consulta api admin v1 tags"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
    post:
      operationId: postapi_admin_v1_tags
      summary: "Cria ou executa api admin v1 tags"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/tags/{id}:
    delete:
      operationId: deleteapi_admin_v1_tags_id
      summary: "Remove api admin v1 tags id"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    patch:
      operationId: patchapi_admin_v1_tags_id
      summary: "Atualiza api admin v1 tags id"
      x-artificio-owner: links
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/groups:
    get:
      operationId: getapi_groups
      summary: "Consulta api groups"
      x-artificio-owner: links
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
  /api/groups/{slug}:
    get:
      operationId: getapi_groups_slug
      summary: "Consulta api groups slug"
      x-artificio-owner: links
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/groups/{slug}/report:
    post:
      operationId: postapi_groups_slug_report
      summary: "Cria ou executa api groups slug report"
      x-artificio-owner: links
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/groups/suggest:
    post:
      operationId: postapi_groups_suggest
      summary: "Cria ou executa api groups suggest"
      x-artificio-owner: links
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      responses:
        "200":
          description: OK
  /api/tags:
    get:
      operationId: getapi_tags
      summary: "Consulta api tags"
      x-artificio-owner: links
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
  /grupo/{slug}:
    get:
      operationId: getgrupo_slug
      summary: "Consulta grupo slug"
      x-artificio-owner: links
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /healthz:
    get:
      operationId: gethealthz
      summary: "Consulta healthz"
      x-artificio-owner: links
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
