# Gerado automaticamente por scripts/api/generate-openapi.ts
# A partir do inventário: docs/api/generated/api-inventory.generated.json
openapi: "3.0.3"
info:
  title: "Mesas API — Artifício RPG"
  description: "API do módulo Mesas. Metadados x-artificio-* definidos por heurística de path."
  version: "0.1.0"
servers:
  - url: https://mesas.artificiorpg.com
    description: Produção
  - url: http://localhost:4000
    description: Desenvolvimento
security: []
paths:
  /api/v1/admin/activity:
    get:
      operationId: getapi_v1_admin_activity
      summary: "Consulta api v1 admin activity"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/dev-feedback:
    get:
      operationId: getapi_v1_admin_dev_feedback
      summary: "Consulta api v1 admin dev-feedback"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/dev-feedback/{id}:
    delete:
      operationId: deleteapi_v1_admin_dev_feedback_id
      summary: "Remove api v1 admin dev-feedback id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    patch:
      operationId: patchapi_v1_admin_dev_feedback_id
      summary: "Atualiza api v1 admin dev-feedback id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/dev-feedback/merge:
    post:
      operationId: postapi_v1_admin_dev_feedback_merge
      summary: "Cria ou executa api v1 admin dev-feedback merge"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/automation/auto-approval/guard:
    post:
      operationId: postapi_v1_admin_discord_automation_auto_approval_guard
      summary: Executa guard de auto-aprovação Discord
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "423":
          description: Auto-aprovação bloqueada pela trava operacional
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "500":
          description: Erro interno
  /api/v1/admin/discord/automation/config:
    get:
      operationId: getapi_v1_admin_discord_automation_config
      summary: "Consulta api v1 admin discord automation config"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/automation/eval:
    get:
      operationId: getapi_v1_admin_discord_automation_eval
      summary: Consulta eval offline da automação Discord
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: limit
          in: query
          required: false
          description: "Número máximo de correções usadas no eval offline. Padrão: 100; máximo: 1000."
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/config:
    get:
      operationId: getapi_v1_admin_discord_chat_exporter_config
      summary: "Consulta api v1 admin discord chat-exporter config"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    put:
      operationId: putapi_v1_admin_discord_chat_exporter_config
      summary: "Substitui api v1 admin discord chat-exporter config"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/profiles:
    get:
      operationId: getapi_v1_admin_discord_chat_exporter_profiles
      summary: "Consulta api v1 admin discord chat-exporter profiles"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    post:
      operationId: postapi_v1_admin_discord_chat_exporter_profiles
      summary: "Cria ou executa api v1 admin discord chat-exporter profiles"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/profiles/{id}:
    delete:
      operationId: deleteapi_v1_admin_discord_chat_exporter_profiles_id
      summary: "Remove api v1 admin discord chat-exporter profiles id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    patch:
      operationId: patchapi_v1_admin_discord_chat_exporter_profiles_id
      summary: "Atualiza api v1 admin discord chat-exporter profiles id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/profiles/{id}/delta:
    get:
      operationId: getapi_v1_admin_discord_chat_exporter_profiles_id_delta
      summary: "Consulta api v1 admin discord chat-exporter profiles id delta"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/profiles/{id}/run:
    post:
      operationId: postapi_v1_admin_discord_chat_exporter_profiles_id_run
      summary: "Cria ou executa api v1 admin discord chat-exporter profiles id run"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/profiles/{id}/test:
    post:
      operationId: postapi_v1_admin_discord_chat_exporter_profiles_id_test
      summary: "Cria ou executa api v1 admin discord chat-exporter profiles id test"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/run:
    post:
      operationId: postapi_v1_admin_discord_chat_exporter_run
      summary: "Cria ou executa api v1 admin discord chat-exporter run"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/test:
    post:
      operationId: postapi_v1_admin_discord_chat_exporter_test
      summary: "Cria ou executa api v1 admin discord chat-exporter test"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/chat-exporter/validate-token:
    post:
      operationId: postapi_v1_admin_discord_chat_exporter_validate_token
      summary: "Cria ou executa api v1 admin discord chat-exporter validate-token"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/discovery/guilds:
    get:
      operationId: getapi_v1_admin_discord_discovery_guilds
      summary: "Consulta api v1 admin discord discovery guilds"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/discovery/guilds/{guildId}/channels:
    get:
      operationId: getapi_v1_admin_discord_discovery_guilds_guildId_channels
      summary: "Consulta api v1 admin discord discovery guilds guildId channels"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: guildId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/drafts:
    get:
      operationId: getapi_v1_admin_discord_drafts
      summary: "Consulta api v1 admin discord drafts"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/drafts/{id}:
    get:
      operationId: getapi_v1_admin_discord_drafts_id
      summary: "Consulta api v1 admin discord drafts id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    patch:
      operationId: patchapi_v1_admin_discord_drafts_id
      summary: "Atualiza api v1 admin discord drafts id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/drafts/{id}/correction:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postapi_v1_admin_discord_drafts_id_correction
      summary: Registra correção manual em draft de Discord
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: provisional
      x-artificio-auth: admin
      description: "Aplica correções manuais ao payload parseado de um draft de Discord. Fonte: createCorrectionHandler via discord/corrections.ts (DEB-055-12)."
      responses:
        "200":
          description: Correção registrada
        "400":
          description: Payload inválido
        "404":
          description: Draft não encontrado
  /api/v1/admin/discord/drafts/{id}/refresh-image:
    post:
      operationId: postapi_v1_admin_discord_drafts_id_refresh_image
      summary: "Cria ou executa api v1 admin discord drafts id refresh-image"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/drafts/{id}/reparse:
    post:
      operationId: postapi_v1_admin_discord_drafts_id_reparse
      summary: "Cria ou executa api v1 admin discord drafts id reparse"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/drafts/{id}/sync:
    post:
      operationId: postapi_v1_admin_discord_drafts_id_sync
      summary: "Cria ou executa api v1 admin discord drafts id sync"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/drafts/batch:
    patch:
      operationId: patchapi_v1_admin_discord_drafts_batch
      summary: "Atualiza api v1 admin discord drafts batch"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/drafts/rejected:
    delete:
      operationId: deleteapi_v1_admin_discord_drafts_rejected
      summary: Apaga drafts descartados (status=rejected)
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      description: "Remove definitivamente todos os drafts com status=rejected da origem informada, destruindo as capas no Cloudinary antes de apagar as linhas. Fonte: routes/discord/drafts.ts."
      parameters:
        - name: origin
          in: query
          required: false
          schema:
            type: string
            enum: [discord, inbox, all]
            default: all
      responses:
        "200":
          description: OK
        "400":
          description: Parâmetros inválidos
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/fetch:
    post:
      operationId: postapi_v1_admin_discord_fetch
      summary: "Cria ou executa api v1 admin discord fetch"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/import-json:
    post:
      operationId: postapi_v1_admin_discord_import_json
      summary: "Cria ou executa api v1 admin discord import-json"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/import-json/file:
    post:
      operationId: postapi_v1_admin_discord_import_json_file
      summary: "Cria ou executa api v1 admin discord import-json file"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/import-json/preview:
    post:
      operationId: postapi_v1_admin_discord_import_json_preview
      summary: "Cria ou executa api v1 admin discord import-json preview"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/import-json/preview/file:
    post:
      operationId: postapi_v1_admin_discord_import_json_preview_file
      summary: "Cria ou executa api v1 admin discord import-json preview file"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/import-json/reparse:
    post:
      operationId: postapi_v1_admin_discord_import_json_reparse
      summary: "Cria ou executa api v1 admin discord import-json reparse"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/messages:
    get:
      operationId: getapi_v1_admin_discord_messages
      summary: "Consulta api v1 admin discord messages"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/messages/{id}:
    patch:
      operationId: patchapi_v1_admin_discord_messages_id
      summary: "Atualiza api v1 admin discord messages id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/messages/{id}/diagnose-content:
    post:
      operationId: postapi_v1_admin_discord_messages_id_diagnose_content
      summary: "Cria ou executa api v1 admin discord messages id diagnose-content"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/messages/{id}/parse:
    post:
      operationId: postapi_v1_admin_discord_messages_id_parse
      summary: "Cria ou executa api v1 admin discord messages id parse"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/messages/batch:
    patch:
      operationId: patchapi_v1_admin_discord_messages_batch
      summary: "Atualiza api v1 admin discord messages batch"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/messages/parse-batch:
    post:
      operationId: postapi_v1_admin_discord_messages_parse_batch
      summary: "Cria ou executa api v1 admin discord messages parse-batch"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/metrics:
    get:
      operationId: getapi_v1_admin_discord_metrics
      summary: "Consulta api v1 admin discord metrics"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/metrics/shadow:
    get:
      operationId: getapi_v1_admin_discord_metrics_shadow
      summary: "Consulta api v1 admin discord metrics shadow"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/settings:
    get:
      operationId: getapi_v1_admin_discord_settings
      summary: "Consulta api v1 admin discord settings"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/settings/bot-token:
    delete:
      operationId: deleteapi_v1_admin_discord_settings_bot_token
      summary: "Remove api v1 admin discord settings bot-token"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    put:
      operationId: putapi_v1_admin_discord_settings_bot_token
      summary: "Substitui api v1 admin discord settings bot-token"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/sources:
    get:
      operationId: getapi_v1_admin_discord_sources
      summary: "Consulta api v1 admin discord sources"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    post:
      operationId: postapi_v1_admin_discord_sources
      summary: "Cria ou executa api v1 admin discord sources"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/sources/{id}:
    delete:
      operationId: deleteapi_v1_admin_discord_sources_id
      summary: "Remove api v1 admin discord sources id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    patch:
      operationId: patchapi_v1_admin_discord_sources_id
      summary: "Atualiza api v1 admin discord sources id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/sources/{sourceId}/reingest-force:
    post:
      operationId: postapi_v1_admin_discord_sources_sourceId_reingest_force
      summary: "Cria ou executa api v1 admin discord sources sourceId reingest-force"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/discord/sync-ready:
    post:
      operationId: postapi_v1_admin_discord_sync_ready
      summary: "Cria ou executa api v1 admin discord sync-ready"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/import/drafts:
    get:
      operationId: getapi_v1_admin_import_drafts
      summary: "Consulta api v1 admin import drafts"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/import/drafts/{id}:
    get:
      operationId: getapi_v1_admin_import_drafts_id
      summary: "Consulta api v1 admin import drafts id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    patch:
      operationId: patchapi_v1_admin_import_drafts_id
      summary: "Atualiza api v1 admin import drafts id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/import/drafts/{id}/correction:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: postapi_v1_admin_import_drafts_id_correction
      summary: Registra correção manual em draft de importação
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: provisional
      x-artificio-auth: admin
      description: "Aplica correções manuais ao payload parseado de um draft de inbox/importação. Fonte: createCorrectionHandler via inbox/corrections.ts (DEB-055-12)."
      responses:
        "200":
          description: Correção registrada
        "400":
          description: Payload inválido
        "404":
          description: Draft não encontrado
  /api/v1/admin/import/drafts/{id}/reparse:
    post:
      operationId: postapi_v1_admin_import_drafts_id_reparse
      summary: "Cria ou executa api v1 admin import drafts id reparse"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/import/drafts/{id}/sync:
    post:
      operationId: postapi_v1_admin_import_drafts_id_sync
      summary: "Cria ou executa api v1 admin import drafts id sync"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/import/import-text:
    post:
      operationId: postapi_v1_admin_import_import_text
      summary: "Cria ou executa api v1 admin import import-text"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/scenario-suggestions:
    get:
      operationId: getapi_v1_admin_scenario_suggestions
      summary: "Consulta api v1 admin scenario-suggestions"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/scenario-suggestions/{id}/approve:
    patch:
      operationId: patchapi_v1_admin_scenario_suggestions_id_approve
      summary: "Atualiza api v1 admin scenario-suggestions id approve"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/scenario-suggestions/{id}/reject:
    patch:
      operationId: patchapi_v1_admin_scenario_suggestions_id_reject
      summary: "Atualiza api v1 admin scenario-suggestions id reject"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/setting-suggestions:
    get:
      operationId: getapi_v1_admin_setting_suggestions
      summary: "Consulta api v1 admin setting-suggestions"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    post:
      operationId: postapi_v1_admin_setting_suggestions
      summary: "Cria ou executa api v1 admin setting-suggestions"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/setting-suggestions/{id}:
    delete:
      operationId: deleteapi_v1_admin_setting_suggestions_id
      summary: "Remove api v1 admin setting-suggestions id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    put:
      operationId: putapi_v1_admin_setting_suggestions_id
      summary: "Substitui api v1 admin setting-suggestions id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/sync/enrich:
    post:
      operationId: postapi_v1_admin_sync_enrich
      summary: "Cria ou executa api v1 admin sync enrich"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/system-suggestions:
    get:
      operationId: getapi_v1_admin_system_suggestions
      summary: "Consulta api v1 admin system-suggestions"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/system-suggestions/{id}/approve:
    patch:
      operationId: patchapi_v1_admin_system_suggestions_id_approve
      summary: "Atualiza api v1 admin system-suggestions id approve"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/system-suggestions/{id}/candidates:
    get:
      operationId: getapi_v1_admin_system_suggestions_id_candidates
      summary: "Consulta api v1 admin system-suggestions id candidates"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/system-suggestions/{id}/reject:
    patch:
      operationId: patchapi_v1_admin_system_suggestions_id_reject
      summary: "Atualiza api v1 admin system-suggestions id reject"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/system-suggestions/{id}/resolve:
    post:
      operationId: postapi_v1_admin_system_suggestions_id_resolve
      summary: "Cria ou executa api v1 admin system-suggestions id resolve"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/tables/{id}:
    delete:
      operationId: deleteapi_v1_admin_tables_id
      summary: "Remove api v1 admin tables id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    put:
      operationId: putapi_v1_admin_tables_id
      summary: "Substitui api v1 admin tables id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/tables/auto-archive:
    post:
      operationId: postapi_v1_admin_tables_auto_archive
      summary: "Cria ou executa api v1 admin tables auto-archive"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/tables/batch:
    post:
      operationId: postapi_v1_admin_tables_batch
      summary: "Cria ou executa api v1 admin tables batch"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/users:
    get:
      operationId: getapi_v1_admin_users
      summary: "Consulta api v1 admin users"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/users/{id}:
    get:
      operationId: getapi_v1_admin_users_id
      summary: "Consulta api v1 admin users id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/admin/users/{id}/covil:
    patch:
      operationId: patchapi_v1_admin_users_id_covil
      summary: "Atualiza api v1 admin users id covil"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/auth/google:
    get:
      operationId: getapi_v1_auth_google
      summary: "Consulta api v1 auth google"
      x-artificio-owner: mesas
      x-artificio-scope: external
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/auth/google/callback:
    get:
      operationId: getapi_v1_auth_google_callback
      summary: "Consulta api v1 auth google callback"
      x-artificio-owner: mesas
      x-artificio-scope: external
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/auth/logout:
    post:
      operationId: postapi_v1_auth_logout
      summary: "Cria ou executa api v1 auth logout"
      x-artificio-owner: mesas
      x-artificio-scope: self-service
      x-artificio-status: active
      x-artificio-auth: user
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/changelog:
    get:
      operationId: getapi_v1_changelog
      summary: "Consulta api v1 changelog"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/communication-platforms:
    get:
      operationId: getapi_v1_communication_platforms
      summary: "Consulta api v1 communication-platforms"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/communication-platforms/admin:
    get:
      operationId: getapi_v1_communication_platforms_admin
      summary: "Consulta api v1 communication-platforms admin"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    post:
      operationId: postapi_v1_communication_platforms_admin
      summary: "Cria ou executa api v1 communication-platforms admin"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/communication-platforms/admin/{id}:
    delete:
      operationId: deleteapi_v1_communication_platforms_admin_id
      summary: "Remove api v1 communication-platforms admin id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    put:
      operationId: putapi_v1_communication_platforms_admin_id
      summary: "Substitui api v1 communication-platforms admin id"
      x-artificio-owner: mesas
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/dev-feedback:
    post:
      operationId: postapi_v1_dev_feedback
      summary: "Cria ou executa api v1 dev-feedback"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/gm/{slug}:
    get:
      operationId: getapi_v1_gm_slug
      summary: "Consulta api v1 gm slug"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/gm/{slug}/contact:
    post:
      operationId: postapi_v1_gm_slug_contact
      summary: "Cria ou executa api v1 gm slug contact"
      x-artificio-owner: mesas
      x-artificio-scope: telemetry
      x-artificio-status: active
      x-artificio-auth: none
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/gm/{slug}/contact-click:
    post:
      operationId: postapi_v1_gm_slug_contact_click
      summary: "Cria ou executa api v1 gm slug contact-click"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/gm/{slug}/insights:
    get:
      operationId: getapi_v1_gm_slug_insights
      summary: "Consulta api v1 gm slug insights"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/gm/{slug}/view:
    post:
      operationId: postapi_v1_gm_slug_view
      summary: "Cria ou executa api v1 gm slug view"
      x-artificio-owner: mesas
      x-artificio-scope: telemetry
      x-artificio-status: active
      x-artificio-auth: none
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/gm/insights:
    get:
      operationId: getapi_v1_gm_insights
      summary: "Consulta api v1 gm insights"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/gm/me:
    get:
      operationId: getapi_v1_gm_me
      summary: "Consulta api v1 gm me"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
  /api/v1/gm/profile:
    post:
      operationId: postapi_v1_gm_profile
      summary: "Cria ou executa api v1 gm profile"
      x-artificio-owner: mesas
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Não autenticado
        "403":
          description: Sem permissão
        "500":
          description: Erro interno
    put:
[...]
