# Gerado automaticamente por scripts/api/generate-openapi.ts
# A partir do inventário: docs/api/generated/api-inventory.generated.json
openapi: "3.0.3"
info:
  title: "Site API — Artifício RPG"
  description: "API do módulo Site. Metadados x-artificio-* definidos por heurística de path."
  version: "0.1.0"
servers:
  - url: https://beta.artificiorpg.com
    description: Produção (beta)
  - url: http://localhost:4322
    description: Desenvolvimento
security: []
paths:
  /admin/import:
    post:
      operationId: postadmin_import
      summary: "Cria ou executa admin import"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /admin/preview/{type}/{id}:
    get:
      operationId: getadmin_preview_type_id
      summary: "Consulta admin preview type id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /admin/rebuild:
    post:
      operationId: postadmin_rebuild
      summary: "Cria ou executa admin rebuild"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /admin/status:
    get:
      operationId: getadmin_status
      summary: "Consulta admin status"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/feedback:
    get:
      operationId: getapi_admin_v1_feedback
      summary: "Consulta api admin v1 feedback"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/feedback/{id}:
    delete:
      operationId: deleteapi_admin_v1_feedback_id
      summary: "Remove api admin v1 feedback id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    patch:
      operationId: patchapi_admin_v1_feedback_id
      summary: "Atualiza api admin v1 feedback id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/media:
    get:
      operationId: getapi_admin_v1_media
      summary: "Consulta api admin v1 media"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
    post:
      operationId: postapi_admin_v1_media
      summary: "Cria ou executa api admin v1 media"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/media/{id}:
    delete:
      operationId: deleteapi_admin_v1_media_id
      summary: "Remove api admin v1 media id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    put:
      operationId: putapi_admin_v1_media_id
      summary: "Substitui api admin v1 media id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/pages:
    get:
      operationId: getapi_admin_v1_pages
      summary: "Consulta api admin v1 pages"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
    post:
      operationId: postapi_admin_v1_pages
      summary: "Cria ou executa api admin v1 pages"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/pages/{id}:
    delete:
      operationId: deleteapi_admin_v1_pages_id
      summary: "Remove api admin v1 pages id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    get:
      operationId: getapi_admin_v1_pages_id
      summary: "Consulta api admin v1 pages id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    put:
      operationId: putapi_admin_v1_pages_id
      summary: "Substitui api admin v1 pages id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/pages/{id}/status:
    post:
      operationId: postapi_admin_v1_pages_id_status
      summary: "Cria ou executa api admin v1 pages id status"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/posts:
    get:
      operationId: getapi_admin_v1_posts
      summary: "Consulta api admin v1 posts"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
    post:
      operationId: postapi_admin_v1_posts
      summary: "Cria ou executa api admin v1 posts"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/posts/{id}:
    delete:
      operationId: deleteapi_admin_v1_posts_id
      summary: "Remove api admin v1 posts id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    get:
      operationId: getapi_admin_v1_posts_id
      summary: "Consulta api admin v1 posts id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    put:
      operationId: putapi_admin_v1_posts_id
      summary: "Substitui api admin v1 posts id"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/posts/{id}/status:
    post:
      operationId: postapi_admin_v1_posts_id_status
      summary: "Cria ou executa api admin v1 posts id status"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/admin/v1/preview:
    post:
      operationId: postapi_admin_v1_preview
      summary: "Cria ou executa api admin v1 preview"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/rebuild:
    post:
      operationId: postapi_admin_v1_rebuild
      summary: "Cria ou executa api admin v1 rebuild"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/redirects:
    get:
      operationId: getapi_admin_v1_redirects
      summary: "Consulta api admin v1 redirects"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
    post:
      operationId: postapi_admin_v1_redirects
      summary: "Cria ou executa api admin v1 redirects"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/slug-check:
    get:
      operationId: getapi_admin_v1_slug_check
      summary: "Consulta api admin v1 slug-check"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/admin/v1/taxonomies:
    get:
      operationId: getapi_admin_v1_taxonomies
      summary: "Consulta api admin v1 taxonomies"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
    post:
      operationId: postapi_admin_v1_taxonomies
      summary: "Cria ou executa api admin v1 taxonomies"
      x-artificio-owner: site
      x-artificio-scope: admin
      x-artificio-status: active
      x-artificio-auth: admin
      responses:
        "200":
          description: OK
  /api/feedback:
    post:
      operationId: postapi_feedback
      summary: "Cria ou executa api feedback"
      x-artificio-owner: site
      x-artificio-scope: public
      x-artificio-status: active
      x-artificio-auth: user
      responses:
        "200":
          description: OK
  /healthz:
    get:
      operationId: gethealthz
      summary: "Consulta healthz"
      x-artificio-owner: site
      x-artificio-scope: internal
      x-artificio-status: active
      x-artificio-auth: none
      responses:
        "200":
          description: OK
