VITE_API_URL=""
VITE_PUBLIC_SITE_URL="https://downloads.artificiorpg.com"
VITE_ACCOUNTS_URL="https://accounts.artificiorpg.com"
VITE_GA_ID=G-8XN5BGPJP3
VITE_SITE_ADMIN_SYSTEMS_URL="https://artificiorpg.com/admin/sistemas"
